<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<sec:http pattern="/login*" security="none" />	
	<sec:http pattern="/style/**" security="none"/>

	<sec:http auto-config="true" use-expressions="true">		
		<!-- 设置拦截页面和访问权限 -->
		<sec:csrf disabled="true"/>
		<!-- <sec:intercept-url pattern="/wei/**"  access="hasRole('ROLE_USER')" /> -->
		<sec:intercept-url pattern="/home"  access="hasRole('ROLE_USER')" />
		<!-- <sec:intercept-url pattern="/admin" access="hasRole(ROLE_USER)" /> -->
		<sec:form-login login-page="/login" default-target-url="/home" always-use-default-target="false" 
			authentication-failure-url="/login/error" login-processing-url="/j_security_check" /> 
		<sec:logout invalidate-session="true" logout-url="/logout" logout-success-url="/login"/> 
	</sec:http>

	<!-- 配置认证管理器 -->
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider user-service-ref="userService">
			<sec:password-encoder ref="passwordEncoder" />
		</sec:authentication-provider>
	</sec:authentication-manager>
	
	<!-- 登录验证器 -->  
   <bean id="loginFilter"  
       class="com.start.coc.service.security.MyAuthenticationFilter">  
       <!-- 处理登录的action -->  
       <property name="filterProcessesUrl" value="/j_security_check"></property>  
       <!-- 验证成功后的处理-->  
       <property name="authenticationSuccessHandler" ref="loginLogAuthenticationSuccessHandler"></property>  
       <!-- 验证失败后的处理-->  
       <property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler"></property>  
       <property name="authenticationManager" ref="authenticationManager"></property>  
   </bean>
   
   <bean id="loginLogAuthenticationSuccessHandler"  
       class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">  
       <property name="defaultTargetUrl" value="/success"></property>  
   </bean>  
   
   <bean id="simpleUrlAuthenticationFailureHandler"  
       class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">  
       <!-- 可以配置相应的跳转方式。属性forwardToDestination为true采用forward false为sendRedirect -->  
       <property name="defaultFailureUrl" value="/login/error"></property>  
   </bean>
</beans>